

.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrap-table100 {
    width: 75%;
    height: 75%;
  }
  
  table {
    width: 100%;
    background-color: #fff;
    border: 1px solid gray;
    padding: 2%;
    border-spacing: 15%;
  }
  
  td {
    text-align: center;
  }
  
  .col {
    width: 130px;
    padding-left: 25px;
  }
  
  .rw td {
    padding-top: 18px;
    padding-bottom: 14px;
  }
  
  .table100.ver1 .rw:hover {
    background-color: #f2f2f2;
  }
  
  .table100.ver1 .hov-column-ver1 {
    background-color: #f2f2f2;
  }
  
  .table100.ver1 .rw td:hover {
    background-color: #6c7ae0;
    color: #fff;
  }

.player-status {
  height: 60%;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.info-players{
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.player-x {
flex: 1;
margin-left: 5%;
margin-right: 5%;
}

.player-0 {
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
}

.current-turn {
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
}

.turn {
  flex: 1;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}